body {
    margin: 0;
    width: 100vw;
    height: 200vh;
    background-color: blue;
    display:flex;
    flex-direction: column;

}
header {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
     width: 30%;
    height: auto;
}

#viewButton, #addButton{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: .8rem;
    font-weight: bolder;
    border: none;
    margin-top: 15px;
}

.pokeContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}