body {
    margin: 0;
    width: 100vw;
    height: 200vh;
    background-color: blue;
    display:flex;
    flex-direction: column;

}
header {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
     width: 30%;
    height: auto;
    /* img {
        width:30%;
        height:auto;
    } */
}